::-webkit-scrollbar,
#Google_Index_Middle,
.date-parent,
.sbn,
body > :not(#main) {
  display: none
}
:root {
  width: 870px;
  margin: 8px auto;
  color-scheme: dark
}
.card {
  display: flex;
  gap: 8px
}
a,
span {
  display: contents
}
section {
  margin: 60px 0
}
img {
  width: 180px;
  height: 101px
}
h2 {
  font-size: 16px
}