#URLClip,
#donation_wrapper,
#header,
#latest,
#sub,
#subtop,
.article,
.date-parent,
.defs,
.p-category,
.rlcontents-s,
.sbn,
footer,
#banner-ef ~ *
{
  display: none !important
}
#main {
  all: unset !important
}
.card {
  display: flex;
  margin: 8px 0
}
#article,
a,
b,
p,
span,
section,
time {
  display: contents !important
}