::-webkit-scrollbar,
#Google_Index_Middle,
.date-parent,
.sbn,
body > :not(#main) {
  display: none
}
:root {
  color-scheme: dark
}
.card {
  display: flex;
  gap: 8px
}
a,
span,
section {
  display: contents
}
img {
  width: 280px
}
h2 {
  font-size: 18px
}
